/* BODY */
body {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.15;
}
.appWrapper {
}

.clickable {
	cursor: pointer;
}

a.inactive {
	cursor: default;
}

button[disabled="disabled"] {
    color: gray;
}

.tooltip-theme {
	border-radius: 3px; 
	border: 2px solid #000;
	background: rgb(208,216,232);
	color: #000;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltip-theme .tooltipster-content {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 5px
}

/* Cache les checkboxes des multiselect */
.multiselect-container input {
    display: none
}

/* HEADER */
div.header {
    height: 60px;
    margin: 10px 5px 15px 5px;
}

div.header div.wrapperTitre > div {
    float: left;
}

div.header div.logoApplication{
	width: 100px;
	height: 100px;
	background-size:contain;
}

img.logoApplication{
	width: auto;
	height: 100px;
}

div.header div.titre {
	font-size: 2em;
	font-weight: bold;
	color: #3c5680;
}

div.header span.sousTitre {
	font-size: .8em;
	padding-left: 30px;
}

div.header div.wrapperFilAriane {
	position: absolute;
    top: 70px;
    font-size: 1.2em;
    left: 115px;
}

div.header div.wrapperFilAriane div.filAriane ol {
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
}

div.header div.wrapperFilAriane div.filAriane ol li {
	display: inline;
	padding-right: 5px;
}

div.header div.wrapperFilAriane div.filAriane ol li:before {
	content: "> "
}

div.header div.wrapperFilAriane div.filAriane ol li a {
	text-decoration: underline;
}

div.header div.wrapperOutils {
	float: right;
}

div.header .infoConnexion {
	text-align: right;
	font-size: 1.1em;
}
div.header .nomUtilisateur {
	font-weight: bold;
}

div.header .outils {
	background-color: rgb(233,239,247);
	border-radius: 5px;
	padding: 5px;
	border: solid 1px black;
}
div.header .outils ul {
	list-style-type: none;
	list-style-position: outside;
	padding: 0 10px 0 10px;
	margin: 0;
}
div.header .outils ul li {
	padding: 0;
}
div.header .outils ul li.infoDigest {
	font-weight: bold;
}
div.header .formulaireDeconnexion {
	display: inline-block;
    line-height: 14px;
    margin-bottom: 3px;
}

/* MIDDLE PAGE */
.bodyWrapper {
	position:absolute;
	height:auto;
	top: 120px;
	bottom: 60px;
	width: 100%;
}
div.bodyWrapper > div {
	display: inline-block;
	vertical-align: top;
}

/* MENU */
div.menu {
	background-color: rgb(55,96,146);
	border-radius: 5px;
	width: 185px;
	color: #fff;
	padding: 10px 0 10px 0;
	margin: 5px;
	position:absolute;
	height: auto;
	top: 0px;
	bottom: 10px;
}
div.menu a {
	color: #fff !important;
	text-decoration: underline;
}
div.menu ul li {
	padding: 3px 0 3px 0;
}

/* CONTENT */
div.content {
	position:absolute;
	left: 195px;
	top: 0px;
	bottom: 10px;
	height: auto;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 5px;
}

div.content div.titreContenu {
	margin: 0 auto 6px auto;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

div.content div.informations {
	margin: 0 auto 6px auto;
	font-size: 1.2em;
	text-align: left;
	color: #f00;	
}

/* FOOTER */
div.footer {
	position:absolute;
	bottom: 0px;
	height: 60px;
	width: 100%;
	padding: 0 5px;
}

div.footer hr {
	margin: 0;
}

div.footer div.logoMM {
	float: left;
	background-size: contain;
	width: 300px;
	height: 40px;
}

img.logoMM {
	width: auto;
	height: 40px;
}

div.footer div.version {
	float: right;
	line-height: 40px;
	font-size: .8em;
}

/* ECRAN DE RECHERCHE */
div.recherche .titreFormulaire {
	font-weight: bold;
    margin: 8px 0px;
}

div.rechercheWrapper {
	background-color: rgb(233,239,247);
	border-radius: 5px;
	padding: 10px;
	border: solid 1px;
	margin-bottom: 10px;
}

div.recherche form table {
	width: 100%;
}

div.recherche form table tr td {
	width: 33%;
}

div.recherche form table tr td > label {
	padding: 0 10px 0 5px;
	width: 100px;
	text-align: right;
}

div.recherche form label {
	min-width: 105px;
}

div.recherche form table tr td > input {
    width: 170px;
}

div.recherche .multiselect {
	background: #fff;
    box-shadow: none !important;
    width: 180px;
}

div.recherche .multiselect-container.dropdown-menu {
	width: 180px;
}

div.recherche div.boutonsFormulaire {
	text-align: right;
	margin: 5px 0;
}

div.recherche button.boutonRecherche {
	margin: 5px 0;
	background-color: #d27a00;
	color: #fff;
	border: solid 1px #3c5680;
	border-radius: 5px;
	padding: 5px;
}

div.recherche button.boutonRecherche:hover {
	background-color: #e89d23;
}

div.recherche button.boutonRecherche div.boutonIcone {
	background: url('../img/loupe.png') no-repeat;
	background-size: contain;
	width: 13px;
	height: 13px;
	position: absolute;
	margin-top: 3px;
}

div.recherche button.boutonRecherche span {
	padding-left: 15px;
	vertical-align: middle;
}

div.recherche button.boutonFusion {
	margin: 5px 0;
	background-color: #d27a00;
	color: #fff;
	border: solid 1px #3c5680;
	border-radius: 5px;
	padding: 5px;
}

div.recherche button.boutonFusion:hover {
	background-color: #e89d23;
}

div.recherche button.passageSansSuite {
	margin: 5px 0;
	background-color: #d27a00;
	color: #fff;
	border: solid 1px #3c5680;
	border-radius: 5px;
	padding: 5px;
}

div.recherche button.passageSansSuite:hover {
	background-color: #e89d23;
}

div.resultatsWrapper {
	border: solid 1px #000;
	margin-bottom: 10px;
}

div.resultatsWrapper,
div.resultatsWrapper table {
	width: 100%;
}

table.resultats td,
table.donneesConsultation td {
	padding: 5px;
}

table.resultats td.colonneNumerique,
table.donneesConsultation td.colonneNumerique {
	text-align: right;
}

table.resultats thead tr td,
table.donneesConsultation thead tr td {
	background-color: rgb(55,96,146);
	color: #fff;
}

table.donneesConsultation tr td {
	text-align: center;
	border: solid 1px #000;
}

table.resultats thead tr td {
	border-left: solid 1px #fff;
	border-bottom: solid 1px #fff;
}

table.resultats thead tr td a:nth-child(1) {
	display: inline-block;
	width: 100%;
	color: #fff;
	text-decoration: none;
}

table.resultats thead tr td a.triAsc,
table.resultats thead tr td a.triDesc {
	display: inline-block;
	float: right;
	width: 20px;
	height: 16px;
}

table.resultats thead tr td a.triAsc {
	background: url("../img/arrows-sort.png") no-repeat 0px -12px;
    background-size: 20px 26px;
}

table.resultats thead tr td a.triDesc {
	background: url("../img/arrows-sort.png") no-repeat 0px 1px;
    background-size: 20px 26px;
}

table.resultats thead tr td:first-child,
table.resultats tbody tr td:first-child {
	border-left: none;
}

table.resultats tbody tr td {
	border-left: solid 1px #fff;
	border-bottom: solid 1px #fff;
}

table.resultats tbody tr:nth-child(even) td,
table.donneesConsultation tbody tr:nth-child(even) td {
	background-color: rgb(208,216,232);
}

table.resultats tbody tr:nth-child(odd) td,
table.donneesConsultation tbody tr:nth-child(odd) td {
	background-color: rgb(233,239,247);
}

table.resultats tbody tr:last-child td {
	border-bottom: none;
}

table.resultats tbody tr:hover td {
	background-color: rgb(55,96,146);
	color: #fff;
}

div.outilsPagination {
	margin-bottom: 10px;
}

div.outilsPagination ol {
	padding: 0;
}

div.outilsPagination ol li {
	display: inline-block;
}

div.outilsPagination ol li.lienPagination {
	border: 1px solid #3c5680;
	padding: 3px;
	min-width: 18px;
	text-align: center;
	color: #3c5680;
}

div.outilsPagination ol li.pageActuelle {
	background-color: #3c5680;
	color: #fff;
}

div.outilsPagination ol li a {
	text-decoration: none;
}

div.exportExcel {
	margin-bottom: 5px;
}

div.exportExcelIcone {
	background: url('../img/excel.png') no-repeat;
	background-size: contain;
	height: 15px;
	width: 15px;
	display: inline-block;
	vertical-align: bottom;
}

div.exportExcel a {
	text-decoration: underline;
}

div.actionTableau {
	width: 13px;
	height: 13px;
	margin-top: 3px;
	display: inline-block;
	margin-right: 5px;
}

div.actionTableau a {
	display: block;
	width: 13px;
	height: 13px;
	position: absolute;
}

div.actionTableau.lienConsultation {
	background: url('../img/loupe.png') no-repeat;
	background-size: contain;
}

div.actionTableau.lienModification {
	background: url('../img/crayon.png') no-repeat;
	background-size: contain;
}

div.deconnexionWrapper {
	margin: 10px;
}

div.NbPeriodesFiltrees{
	font-size: 18px;
}

button:disabled,input:disabled{
	color: gray;
}

#commentaireChangementDeStatutEnMasse {
	max-width : 350px;
}
