input#numContrat1 {
    width: 56px;
}
input#numContrat2 {
    width: 41px;
	margin: 0 -3px;
}
input#numContrat3 {
    width: 26px;
	margin: 0 -1px;
}

.outilsContrat {
	margin: 10px 0;
	min-height: 30px;
	width: 100%;
	display: table;
}

.outilsContrat > * {
	vertical-align: top;
	display: table-cell;
}

.outilsContrat a {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.outilsContrat .navRecherche {
	float: left;
}