/* Recherche de déclarations */
input#numContrat1 {
	width: 57px;
}

input#numContrat2 {
	width: 43px;
	margin: 0 -3px;
}

input#numContrat3 {
	width: 29px;
	margin: 0 -1px;
}

div.actionTableau.signal {
	background: url('../img/attention.png') no-repeat;
	background-size: contain;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

div.actionTableau.rejet {
	background: url('../img/sens interdit.png') no-repeat;
	background-size: contain;
	width: 15px;
	height: 15px;
	cursor: pointer;
}


/* Détail de déclaration */

.outilsPeriode {
	margin: 10px 0;
	min-height: 30px;
	width: 100%;
	display: table;
}

.outilsPeriode > * {
	vertical-align: top;
	display: table-cell;
}

.outilsPeriode a {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.outilsPeriode .navPeriodePrecedente,
.outilsPeriode .navRecherche {
	float: left;
}

.outilsPeriode .navPeriodeSuivante {
	float: right;
}

.outilsPeriode .alertesPeriode {
    margin: 0;
}

.outilsPeriode .alertesPeriode ul {
	color: red;
	text-align: center;
}

.alertesPeriode ul li {
	list-style-type:none;
    margin: 3px 0;
    padding-left:20px;
	text-align: left;
}

.alertesPeriode li.alerteAvertissement {
    background: url('../img/attention.png') no-repeat;
    background-size: 15px 15px;
}

.alertesPeriode li.alerteBloquante {
    background: url('../img/sens interdit.png') no-repeat;
    background-size: 15px 15px;
}

.navDetailsPeriode {
    width: 100%;
    position: relative;
    z-index: 100;
}

.navDetailsPeriode ul {
    display: table;
    list-style-position: outside;
    margin: 0;
	padding: 0;
}

.navDetailsPeriode ul li {
    display: table-cell;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    -webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
    text-align: center;
	background-color: rgb(208,216,232 );
}

.navDetailsPeriode ul li.selected {
	background-color: rgb(233,239,247);
    border-bottom: solid 1px rgb(233,239,247);
}

.navDetailsPeriode ul li > * {
    display: block;
    padding: 8px 15px 8px 15px;
    width: 100%;
}

.navDetailsPeriode ul li a {
    text-decoration: none;
}

.detailsPeriodeWrapper {
	background-color: rgb(233,239,247);
    border: solid 1px #000;
    padding: 5px;
    margin-top: -1px;
    position: relative;
    z-index: 10;
}

.detailsPeriodeWrapper h1 {
	font-size: 1.15em;
    font-weight: bold;
    margin: 0;
}

/* Page Synthèse */
div.infoSynthese {
	margin-bottom: 10px;
}

div.blockInfoSynthese {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.info label {
	text-align: right;
	padding-right: 3px;
}

div.info span {
	padding-left: 3px;
}

div.boutonFormulaireSansSuite button.passageSansSuite:disabled{
	background-color: #ccc;
    color: #000;
}

.lienRapide {
	text-align: center;
}

.lienRapide a {
	text-decoration: underline;
}

label.infoMessageControle.signal:before {
	background: url('../img/attention.png') no-repeat;
	background-size: 15px 15px;
	content: '____';
	color: rgba(0,0,0,0);
}

label.infoMessageControle.rejet:before {
	background: url('../img/sens interdit.png') no-repeat;
	background-size: 15px 15px;
	content: '____';
	color: rgba(0,0,0,0);
}

div.infoEntreprise.souscripteur {
	margin-bottom: 20px;
}

div.infoEntreprise {
	margin-bottom: 10px;
}

div.outilsInfoSynthese {
    text-align: center;
}

table.donneesConsultation.synthesePeriode {
    margin: 10px auto;
}

table.donneesConsultation.synthesePeriode tr td:first-child {
    min-width: 150px;
    text-align: right;
}

table.donneesConsultation.synthesePeriode tbody tr td {
    min-width: 120px;
    text-align: right;
}

/* Page DSN */
table.dsnPeriode {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

table.dsnPeriode tbody tr td:nth-child(1) {
	background-color: rgb(55,96,146);
	color: #fff;
	min-width: 130px;
}


table.dsnPeriode {
	margin-top: 10px;
}

div.alerteAvertissement {
	margin: auto;
    width: 15px;
    height: 15px;
    background: url('../img/attention.png') no-repeat;
    background-size: 15px 15px;
}

div.alerteBloquante {
	margin: auto;
    width: 15px;
    height: 15px;
    background: url('../img/sens interdit.png') no-repeat;
    background-size: 15px 15px;
}

/* Page Individus */
table.individusPeriode {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

table.individusPeriode .alertesPeriode ul {
	margin: 0px;
    padding: 5px;
}

div.actionTableau.lienBrique {
    border: 1px solid #000;
    border-radius: 11px;
    width: 22px;
    height: 22px;
    background-color: #fff;
}

.actionTableau.lienBrique a {
    width: 19px;
    line-height: 20px;
    text-decoration: underline;
}

.individusPeriodeWrapper .exportExcel {
	margin-bottom: 20px;
}

/* Page changement de statut */
.changementStatutPeriode{
	margin-bottom: 10px;
}

.historiqueStatutsPeriodeWrapper {
	width: 100%;
	margin-bottom: 10px;
	padding-left: 50px;
}

.historiqueCommentairesPeriodeWrapper {
	width: 100%;
	margin-bottom: 10px;
	padding-left: 50px;
}

.historiqueAssignationsPeriodeWrapper {
	width: 400px;
	margin-bottom: 10px;
	padding-left: 50px;
}

.historiqueAttenteRetourEtpPeriodeWrapper {
	width: 100%;
	margin-bottom: 10px;
	padding-left: 50px;
}

.changementStatutPeriode table tr td,
.bloquerPeriode table tr td {
	padding: 10px;
}

.changementStatutPeriode table tr td.champsChangementStatutPeriode {
	display: table;
}

.changementStatutPeriode table tr td.champsChangementStatutPeriode div {
	display: table-row;
}

.changementStatutPeriode table tr td.champsChangementStatutPeriode div > * {
	display: table-cell;
	margin: 10px;
	vertical-align: top;
}

.changementStatutPeriode table tr td.champsChangementStatutPeriode div label {
	vertical-align: middle;
	text-align: right;
}

.changementStatutPeriode table tr td.champsChangementStatutPeriode div label.textareaLabel {
	vertical-align: top;
	padding-top: 15px;
}

table.historiqueStatutsPeriode {
	margin-top: 10px;
	width: 100%;
}

table.historiqueStatutsPeriode tbody tr:last-child td {
	border-bottom: solid 1px #000;
}

table.historiqueStatutsPeriode thead tr td {
	border-top: solid 1px #000;
}

table.resultats.historiqueStatutsPeriode * tr td:first-child {
	border-left: solid 1px #000;
	width: 20%;
}

table.historiqueStatutsPeriode * tr td:last-child {
	border-right: solid 1px #000;
}

table.historiqueStatutsPeriode thead tr td:nth-child(2) {
	width: 10%;
}

table.historiqueStatutsPeriode thead tr td:nth-child(3) {
	width: 20%;
}

table.historiqueAssignationsPeriode {
	margin-top: 10px;
	width: 400px;
}

input#siren {
	width: 98px;
}

input#nic {
	width: 58px;
}

input#numClient {
	width: 54px;
}

input#cptEnc {
	width: 68px;
}

input#cptProd {
	width: 68px;
}

.cbxBloquerPeriode {
	margin: 10px !important;
}

div.recherche button.boutonChangementMasse {
	margin: 5px 0;
	background-color: #d27a00;
	color: #fff;
	border: solid 1px #3c5680;
	border-radius: 5px;
	padding: 5px;
	float:right;
}

div.recherche button.boutonChangementMasse:hover {
	background-color: #e89d23;
	text-decoration: none;
}

div.recherche button.boutonChangementMasse:disabled {
	background-color: #ccc;
    color: #000;
}

div.recherche button.passageSansSuite {
	margin: 5px 0;
	background-color: #d27a00;
	color: #fff;
	border: solid 1px #3c5680;
	border-radius: 5px;
	padding: 5px;
	float:right;
}

div.recherche button.passageSansSuite:hover {
	background-color: #e89d23;
	text-decoration: none;
}

div.recherche button.passageSansSuite:disabled {
	background-color: #ccc;
    color: #000;
}

/* overide CSS bootstrap*/
.modal-header{
	border-bottom:none;
}

/* overide CSS bootstrap*/
hr{
	    border-top-color: #000000
}
/* overide CSS bootstrap*/
.close{
	font-size: 40px;
    line-height: 20px !important;
    color:#B22222;
    opacity:0.5;
}
/* overide CSS bootstrap*/
.close:hover{
    color:#B22222;
    opacity:1;
}

.titre{
	font-weight:bold;
	font-size:25px;
	text-align: center;
}

.titreSecondaire{
	font-weight:bold;
	font-size:18px;
}

.popupGeneral{
	background-color:rgb(233,239,247);
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.15;
	
}


.spaceInputPopup {
	margin-left:20px !important;
	margin-right:20px !important;
}

div.actionTableau.aTraiterPar {
	cursor: pointer;
}

/*style css des blocs A ou A' dans la popup*/
.popupCriteres{
	width:100%;
	visibility: hidden;
	display: inline-block;
	max-height: 400px;
	overflow-y:auto; 
}

/*fixer la largeur des lignes dans la popup*/
.popupCriteres table{
	width:100%;
}

/*fixer la largeur des colonnes dans la popup*/
.popupCriteres td{
	width:33%;
}

/*fixer la largeur des colonnes dans la popup*/
.criteresLast td{
	padding-bottom: 10px;
}

/* fixer taille max pour les listes de critères dans la popup*/
.criteresSelected{
	overflow-y: auto;
    max-height: 60px;
    margin-left: 14px;
}

/* fixer la taille max pour les listes de critères de la ligne où se trouve "Versement" dans la popup*/
.criteresSelectedVersementTr{
	overflow-y: auto;
	max-height: 35px;
	margin-left: 14px;
}

/* fixer la taille max pour les listes de critères de la ligne où se trouve "Nature" dans la popup*/
.criteresSelectedNatureTr{
	overflow-y: auto;
	max-height: 50px;
	margin-left: 14px;
}

/* fixer la taille max pour les listes de critères de la ligne où se trouve "Contrat" dans la popup*/
.criteresSelectedContratTr{
	overflow-y: auto;
	max-height: 32px;
	margin-left: 14px;
}

.cbxAttentePeriode {
	margin: 10px !important;
}

.aligntop {
	vertical-align:top;
}

.subTitre {
	font-size :10px;
}

.stylelabel{
	margin-right:10px;
	text-align:center;
}

.souligne{
	text-decoration: underline;
}

.spaceVertical {
	margin-top: 10px;
}

.alignrbPopup {
	text-align: right;
}

.spaceComVertical {
	padding-top : 10px;
}

.alignbottom {
	vertical-align:bottom;
}

.marginleftPopup {
	margin-left: 7px;
}

.minWidthList{
	min-width:130px;
}

.customCriteresGestionnaire{
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  border-left: 2px solid lavender;
  border-top: 2px solid lavender;
  background: white;
}

.valign-top{
	vertical-align:top;
}

.valign-bottom{
	vertical-align:bottom;
}

.btnCommentaire{
	margin-bottom:5px;
}

td.td-date{
	width: 3%!important;
}

td.td-par{
	width: 3%!important;
}

