input#numContrat1 {
	width: 57px;
}
input#numContrat2 {
	width: 43px;
	margin: 0 -3px;
}
input#numContrat3 {
	width: 29px;
	margin: 0 -1px;
}

.outilsContrat {
	margin: 10px 0;
	min-height: 30px;
	width: 100%;
	display: table;
}

.outilsContrat>* {
	vertical-align: top;
	display: table-cell;
}

div.content form table tr td select {
	width: 80px;
}

.outilsContrat a {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
}

.outilsContrat .navRecherche {
	float: left;
}

/* ECRAN DE DETAILS */
div.recapitulatifWrapper {
	background-color: rgb(233, 239, 247);
	border: solid 1px #000;
	padding: 5px;
	margin-top: -1px;
	position: relative;
	z-index: 10;
}

div.recapitulatifWrapper h1 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
}

div.recapitulatifWrapper table {
	width: 100%;
}

div.recapitulatifWrapper table tr td {
	width: 25%;
	text-align: right;
}
div.resultatsWrapper table tr td:nth-child(5){
	text-align: right;
}
div.resultatsWrapper table tr td:nth-child(6){
	text-align: right;
}
div.recapitulatifWrapper table tr td.value {
	text-align: left;
}

div.recapitulatifWrapper table tr td>label {
	margin: 0 0 0 5px;
	width: 100%;
	text-align: left;
}

div.recapitulatifWrapper label {
	min-width: 50px;
}

div.recapitulatifWrapper .multiselect {
	background: #fff;
	box-shadow: none !important;
	width: 180px;
}

div.recapitulatifWrapper .multiselect-container.dropdown-menu {
	width: 180px;
}

div.recapitulatifWrapper button.boutonRecherche, div.recapitulatifWrapper button.boutonDetails
	{
	margin: 5px 0;
	background-color: #d27a00;
	color: #fff;
	border: solid 1px #3c5680;
	border-radius: 5px;
	padding: 5px;
}

div.recapitulatifWrapper button.boutonRecherche:hover, div.recapitulatifWrapper button.boutonDetails:hover
	{
	background-color: #e89d23;
}

div.recapitulatifWrapper button.boutonRecherche div.boutonIcone {
	background: url('../img/loupe.png') no-repeat;
	background-size: contain;
	width: 13px;
	height: 13px;
	position: absolute;
	margin-top: 3px;
}

div.recapitulatifWrapper button.boutonRecherche span {
	padding-left: 15px;
	vertical-align: middle;
}

input#dateEffet {
	width: 80px;
}

input#dateEffet {
	width: 80px;
}

input#nbEtablissements {
	width: 52px;
}

input#pcEtablissements {
	width: 30px;
}

input#nbSalaries {
	width: 52px;
}

input#pcSalaries {
	width: 30px;
}

input#siren, #sirenSaisi {
	width: 98px;
}

input#nic, #nicSaisi{
	width: 58px;
}

div.lienSpecifique {
	text-decoration: underline;
	text-align: center;
}

div.boutonSpecifique {
	margin: 5px 0;
	text-align: center;
}

.obligatoire {
	color: #f00;
	font-weight: bold;
}

.coupleSirenNic {
	height: 24px;
}

.buttonSirenNic {
	background-color: rgb(55, 96, 176);
	border: solid 2px black;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	border-radius: 25px;
	height: 22px;
	width: 22px;
	vertical-align: middle;
}

.texteAjouteSirenNic {
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 13px;
	margin-left: -4px;
}

.texteSupprimeSirenNic {
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 13px;
	margin-left: -2px;
}

.zoneSirenNic {
	font-size: 1.1em;
	height: 40px;
	vertical-align: bottom;
}

.champsSirenNic {
	vertical-align: top;
}

.libellesSirenNic {
	font-size: 1.1em;
	line-height: 23px;
	vertical-align: top;
}

button.buttonSirenNic:focus {
	outline: none;
}

button.buttonSirenNic:active {
	outline: none;
}

div.recapitulatifWrapper button.boutonDetails:disabled, 
div.recapitulatifWrapper button.buttonSirenNic:disabled,
div.boutonsFormulaire button.boutonRecherche:disabled  {
	background-color: #ccc;
	color: #000;
}

input#numClient {
	width: 52px;
}

input#cptEnc {
	width: 68px;
}

input#cptProd {
	width: 68px;
}
